/* Estilos básicos para dispositivos móveis (default) */
.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.container-fluid {
    padding: 0 15px;
}

hr {
    border-top: 8px solid #FFDD00;
    margin-bottom: 3rem;
}

img {
    max-width: 100%;
    height: auto;
}

.col-4 {
    padding: 0;
    margin: 0;
    flex: 1 1 auto;
}

header .col-4 a {
    font-size: 1rem;
}


.barra-amarela{
    border-top: 10px solid #FFDD00;
    margin-bottom: 1rem;
}


/* Estilos para tablets */
@media (min-width: 400px) {
    .container-fluid {
        padding: 0 30px;
    }

    hr {
        margin-bottom: 3rem;
    }

    header .col-4 a {
        font-size: 1.25rem;
    }    
    .barra-amarela{
        border-top: 5px solid #FFDD00;
        margin-bottom: 4rem;
    }
}

/* Estilos para desktops */
@media (min-width: 900px) {    
    hr {
        margin-bottom: 9rem;
    }
    header {
        padding: 20px 40px;
        text-align: left;
    }

    .container-fluid {
        padding: 0 60px;
    }
    .row.align-items-center {
        display: flex;
        justify-content: space-between;
    }

    .col-4 {
        text-align: center;
    }

    .col-4.text-start {
        text-align: left;
    }

    .col-4.text-end {
        text-align: right;
    }
    
}
