.card{
    margin-bottom: 1rem;
}


.background-bar {
    background-color: #FFF08C;
    width: 100%;
    height: 100%; /* Ajuste conforme necessário */
    position: absolute;
    top: 15%; /* Ajuste conforme necessário */
    z-index: -1;
    padding-bottom: 90rem;
}

/* .login-container {
    position: relative;
    z-index: 1;
}

.login-form {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1 4px 8px rgba(0, 0, 0, 0.1);
} */

.filter-section {
    z-index: 2;
    background-color: #FFF;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -100px; /* Ajuste conforme necessário */
    margin-bottom: -45px;
}

.card-section {
    background-color: #FFF08C;
    padding: 1rem;
    border-radius: 10px;
    max-width: 300px;
}

.text-title-page{
    color: #199292;
    margin-top: -2%;
    margin-bottom: 7rem;
    /* margin-left: -1%; */
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* Modal */

.modal-content{
    margin-top: 16%;
}
